extends layout

block content
    div.container-fluid
    div.row
        div.col-md-3
        div.col-md-1
            h3 Profile
            if logged_in_user.is_admin && !user.is_admin
                - var editLink = '/users/update/' + encodeURIComponent(user.email);
                a(class="btn btn-default btn-xs", href=editLink, role='button') Edit
                br
            br
    div.row
        div.col-md-3
        div.col-md-3
            - var imgSrc = user.image ? "../uploads/" + user.image.split('/').pop() : '/images/default_profile_image.png';
            img(class="img-responsive", src=imgSrc)
            br
            if logged_in_user.is_admin
                - var btnClasses = ['btn', 'btn-default', 'btn-block']
                if !user.is_admin
                    - var deleteAction = "/users/delete/" + encodeURIComponent(user.email);
                    form(action=deleteAction, method="POST")
                        div.form-group
                            button(class="btn btn-default", type="submit") Delete user
                if logged_in_user.is_super
                    - var adminAction = "/users/toggle_admin/" + encodeURIComponent(user.email);
                    - var adminText = user.is_admin ? 'Make not admin' : 'Make admin';
                    form(action=adminAction, method="POST")
                        div.form-group
                            button(class="btn btn-default", type="submit")= adminText
        div.col-md-3
            form(action="/login", method="POST")
                div.form-group
                    label(for='email') Email address
                    input(type='email', class='form-control', name='email', id='email', value=user.email, readonly)
                div.form-group
                    label(for='display_name') Display name
                    input(type='text', class='form-control', name='display_name', id='display_name', value=user.display_name, readonly)
                div.form-group
                    label(for='description') Description
                    textarea(class='form-control', row='3', name='description', id='description', readonly)= user.description
    if logged_in_user.is_admin
        div.row
            div.col-md-3
            div.col-md-1
                h3 Activity
        div.row
            div.col-md-3
            div.col-md-6
                table.table.table-striped.table-hover
                    tr
                        th Date
                        th Event
                        th OS
                        th Browser
                        th Mobile?
                    each event in events
                        tr
                            td= event.timestamp
                            td= event.event
                            td= event.os
                            td= event.browser
                            td= event.mobile
