extends ../layout
block link
  link(href="/css/detail.css",rel="stylesheet")
block content
  .container
    .row
      .col-md-8
        .panel.panel-success
          .panel-heading
            h3 REAL TIME CHAT ROOM
          .panel-body
            ul.media-list#mediaList
              each item in chats
                li.media
                  .pull-left
                    img.media-object(src="/upload_user/#{item.from.image}", style="width: 40px; height: 40px;")
                  .media-body
                    h4.media-heading #{item.from.name}   
                    p #{item.content}
                    span.createAt #{moment(item.meta.createAt).format('MM-DD HH:mm')} &nbsp;&nbsp;&nbsp;&nbsp;                  
                    a.chat(href="#chats", data-cid="#{item._id}", data-tid="#{item.from._id}") REPLY
                    if user && item.from.name === user.name
                      a.chatDel(href="javascript:;", data-cid="#{item._id}") &nbsp;|&nbsp;DELETE
                    
                    if item.reply && item.reply.length > 0
                      each reply in item.reply
                        .media
                          .pull-left
                            img.media-object(src="/upload_user/#{reply.from.image}", style="width: 30px; height: 30px;")
                          .media-body
                            h4.media-heading
                              | #{reply.from.name}
                              span &nbsp;REPLY&nbsp;
                              | #{reply.to.name}
                            p #{reply.content}
                            span.createAt #{moment(reply.meta.createAt).format('MM-DD HH:mm')} &nbsp;&nbsp;&nbsp;&nbsp;
                            a.chat(href="#chats", data-cid="#{item._id}", data-tid="#{item.from._id}") REPLY
                            if user && reply.from.name === user.name
                              a.chatDel(href="javascript:;", data-cid="#{item._id}" data-did="#{reply._id}") &nbsp;|&nbsp;DELETE
                  hr
            #chats  
              form#chatForm(method="POST", action="/admin/chat")
                input(type="hidden", name="chat[textbook]", value="#{textbook._id}")
                if user
                  input(type="hidden", name="chat[from]", value="#{user._id}")
                .form-group
                  textarea.form-control(name="chat[content]", row="3")
                if user
                  button.btn.btn-primary(type='submit') SUBMIT
                else
                  a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") Please Log In To Chat
  script(src="/js/chat.js")
