extends ../layout
block link
  link(href="/css/detail.css",rel="stylesheet")
block content
  .container
    .row
      .col-md-5
        .dl-horizontal
          dt Email
          dd= user.email
          dt Name
          if sessionuser._id == user._id
            a(href="/admin/user/edit/#{user._id}")
              dd= user.name
          else
            dd= user.name
          dt Description
          dd= user.description
          dt Profile Image
          dd
            if sessionuser._id == user._id
              a(href="/admin/user/edit/#{user._id}")
                img(src="/upload/#{user.image}", alt="#{user.email}",style="width:250px;height:250px;")
            else
              img(src="/upload/#{user.image}", alt="#{user.email}",style="width:250px;height:250px;")
          if sessionuser._id == user._id
            dt Edit
            dd 
              a(href="/admin/user/edit/#{user._id}") Edit
          
  script(src="/js/profile.js")
