extends ../layout

block content
  .container
    .row
      form.form-horizontal(method="post", action="/user/saveprofile",enctype="multipart/form-data")
        if user._id
          input(type="hidden", name="user[_id]", value=user._id)
        .form-group
          label.col-sm-2.control-label(for="inputEmail") Email
          .col-sm-10
            input#inputEmail.form-control(type="text", name="user[email]", value=user.email)
        .form-group
          label.col-sm-2.control-label(for="inputPassword") Password
          .col-sm-10
            input#inputPassword.form-control(type="text", name="user[password]", value=user.password)
        .form-group
          label.col-sm-2.control-label(for="inputName") Display Name
          .col-sm-10
            input#inputName.form-control(type="text", name="user[name]", value=user.name)
        .form-group
          label.col-sm-2.control-label(for="inputDescription") Description
          .col-sm-10
            textarea#inputDescription.form-control(type="text", name="user[description]")= user.description
        .form-group
          label.col-sm-2.control-label(for="uploadImage") Upload Profile Picture
          .col-sm-10
            input#uploadImage(type="file", name="uploadImage")    
        .form-group
          .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type="submit") Save
  //script(src='/js/edit.js')
